.DS_Store
.atom/
.idea/
.vscode/*
.melos_tool/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json.example
*.iml
.dart_tool

# Ignore all build artifacts
**/build

# fvm
.fvm/flutter_sdk

# Ignore directory used by Firebase Hosting
/.firebaserc
.firebase
public
